/* top bar */

* {
    margin:0;
    padding:0;
    border: border-box;
    font-family: arial;

}

html, body {
  width: 100%;
  overflow-x: hidden;  
  background-color: rgb(226,231,230);
}


.navbar {
    height:60px;
    background-color:#0f1111;
    color:white;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding:0 10px;
    gap:10px;

}

.nav-logo {
    width:100px;
    height: 50px;
    flex:0 0 auto;

}



.logo {
    background-size:cover;
    height: 50px;
    width:100%;
    
}


.border {
    border: 1px solid transparent;
    cursor:pointer;
}

.border:hover {
    border: 1px solid white;
}


/* box 2 */


.address-1 {
    color: #CCCCCC;
    font-size:12px;
    margin-left:20px;
    
}

.address-2 {
    color:white;
    font-size: 14px;
}

.add-icon {
    display:flex;
    align-items: center;
    

}

/* box 3 */

.nav-search {
    display: flex;
    flex:1;
    justify-content:space-evenly;
    background-color: pink;
    width: 600px;
    height:40px;
    border-radius:4px;
}

.nav-search:hover {
    border: 2px solid yellow;
}


.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    width: 50px;
    text-align:center;
    background-color: #f3f3f3;
    border: none;
}

.search-input {
    width:100%;
    font-size: 1rem;
    border: none;

    
}

.glass {
    border: none;
    background-color: rgb(255, 170, 0);
    width:45px;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* box 4 */

span {
    font-size: 0.7rem;
}

.nav-links-2 {
    font-size: 0.85rem;
    font-weight:700;
}


/* box 5 */

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
    flex:0 0 auto;
}

.nav-cart i {
    font-size: 30px;
}

/* next bar */

.next-bar {
    height:40px;
    background-color: #232f3e;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left:20px;
    color:white;
 
}

.next-bar p {
    display: inline;
    margin: 15px;
    
}

.bar-options {
    width: 70%;
    font-size:0.85rem;
    
    
    
}



/* background */

.background {
    background:linear-gradient(to bottom, rgba(226,231,230,0), rgba(226,231,230,0.1)),url(images/71qaeC7FpjL._SX3000_.jpg);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center fixed;
    height:400px;
    max-width:1280px;
    display: flex;
    justify-content: center;
    padding-top:106px;
    margin:0 auto;
    
}

.background-msg a {
    text-decoration: none;

}

.background-msg {
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    font-size: 0.85rem;
    width: 96.8%;
    margin-bottom:20px;
    
    
    
}
 
/* shopping-section */

.shopping-section {
    display:flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background:linear-gradient(to bottom, rgba(226,231,230,0), rgba(226,231,230,1));
    max-width:1280px;
    margin-top:150px;
    gap:20px;
    

    
     
}


.shop1 {
    height:400px;
    width:23%;
    background-color: white;
    font-size: 21px;
    display:flex;
    flex-direction: column;
    font-weight:700;
    padding-top:20px;
    

}

.Boom {
    text-decoration: none;
    font-weight:10;
    font-size: 0.85rem;
    margin-bottom: 20px;
    margin-left: 15px;
    color:#2162A1
    
     
}

.Boom:hover {
    text-decoration: underline;

}

.Boom2 {
    text-decoration: none;
    font-size: 0.85rem;
    color:white;
    width:120px;
    border: 20px solid #0f1111;
}

.Boom2:hover{
    text-decoration: underline;
}

.Boom3 {
    text-decoration: none;
    font-size: 0.85rem;
    color: white;
    margin-top:14px;
}

.Boom3:hover {
    text-decoration: underline;
}


.Boom4 {
    text-decoration: none;
    font-size: 0.85rem;
    color: white;
    margin-top:14px;
    margin-left:20px;
}


.Boom4:hover {
    text-decoration: underline;
}

.Boom5 {
     text-decoration: none;
    font-size: 0.85rem;
}

.Boom5:hover {
    text-decoration: underline;
}

.shop-img {
    background-size: cover;
    height: 350px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-position: center;
    cursor: pointer;
    

}

.parashop1 {
    position:relative;
    left:15px;
    top:5px;
}




/* Footer */

.Footer-Panel {
    margin-top:800px;
    max-width:6000px;
    width:100%;
    

}


.footer-panel1 {
    background-color: #37475a;
    height: 50px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top:20px;
    text-decoration: none;

}


.footer2 {
    background-color: #222f3d;
    color:white;
    display:flex;
    justify-content: center;
    height: 400px;
    
  
    
}

.footer2-msg {
    width: 150px;
    height:190px;
    margin:50px;
    color:#dddddd;
    display:flex;
    flex-direction: column;
    align-items: flex-start;

}

ul p {
    font-size: 16px;
    font-weight: 700;
    margin-top:14px;

}



.footer3 {
    border-top: 0.5px solid rgba(255, 255, 255, 0.199);
    background-color:#222f3d;
    color:white;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;    

}


.logo3 {
    background-image: url(images/amazon_logo.png);
    background-size:cover;
    height: 50px;
    width:100px;
    
}


.last-foot {
    background-color:#0f1111;
    height:500px;
    color:white;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.content-foot {
    display: flex;
    justify-content: center;
    max-width:1180px;
    flex-direction: row;
    flex-wrap:wrap;

    
}

.last {
    background-color:#0f1111;
    display:flex;
    justify-content: center;
    align-items:end;
    height:100px;
    
    
    
}

.last2 {
    background-color:#0f1111;
    display:flex;
    justify-content: center;
    color:white;
    font-size: 0.85rem;
    height:50px;

}

.para-pro{
    font-size: 0.85rem;
    font-weight: 700;
}


